<%- include('./partials/head') %>

<main>

    <h1> Goedemorgen, Jennifer</h1>


    <article class="content">

        <div class="content_product_1">
            <h2>
                Speciaal voor uw Mini
            </h2>
            <img class="article-img" src="/Pinda_6stappen.webp" alt="img">
        </div>

        <div class="content_product_2">
            <a class="producten_link" href="/producten">
            <h2>
                Alle producten
            </h2>
            <img class="article-img" src="/Pinda_doosjes.webp" alt="img">
            </a>
        </div>

    </article>


    
</main>


    <%- include('./partials/foot') %>