<%- include('./partials/head') %>

<h1>Alle producten</h1>

<div class="pinda-producten">

    <article>

        <% producten.forEach(product=> { %>
        <% if(product.categorie.titel === "Pinda" ) { %>

        <article class="content_product_1">
           
            <h2>
                <%= product.titel %>
            </h2>


         <% if(product.titel === "Mijn eerste pinda in 6 stappen") { %>
             <img class="article-img" src="/Pinda_6stappen.webp" alt="Pinda in 6 stappen">
         <% } %>
        
        <% if(product.titel === "Mijn eerste pinda in 6 stappen") { %>
             <img class="article-img" src="/Pinda_doosjes.webp" alt="Pinda 4 maanden">
        <% } %>

        <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>
            <img class="article-img" src="/Zakjestap.webp" alt="Zakje stap">
         <% } %>

        <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>
            <img class="article-img" src="/Zakjestap2.webp" alt="Zakje stap2">
         <% } %>

        <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>
            <img class="article-img" src="/Zakjestap3.webp" alt="Zakje stap3">
         <% } %>

        
        </article>
        <% } %>

         <% }); %>    


    </article>

</div>

<%- include('./partials/foot') %>


